html {
    position: relative;
    min-height: 100%;
}


body {
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 350px;
}


body.modal-open {
    overflow: inherit;
    padding-right: inherit !important;
}

a {
    color: #2f8398;
    outline: none !important;
}

a:active, a:hover , .btn{
    outline: 0 none !important;
}

.service-edit h3{
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}


.carousel-indicators {
    width: 100%;
    left: inherit;
    background: url("/img/lineslider.png") repeat;
    height: 71px;
    margin: 0;
    padding: 0;
    bottom: 0;
    padding-top: 25px;
}

.item.active img {
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
}

.carousel-inner .item,
.carousel-inner .item.active,
.carousel-inner .item img {
    margin: auto;
    padding: 0px;
    height: 520px;
}

.carousel-control.left, .carousel-control.right {
    background: inherit;
}

.topline {
    background: url("/img/topline.png") 100% 100%;
    height: 12px;
    width: 100%;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
}

.carousel-indicators .active {
    width: 22px;
    height: 22px;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
        margin-right: -15px;
    }

    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }

}

.carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #f68d44;
    text-shadow: 0;
}

#footer {
    background-color: #2f8398;
    color: #ffffff;

    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 350px;
}

#footer a {
    color: #ffffff;
}

.icon-info-top {
    font-size: 16px;
}

.icon-info-top a {
    padding-right: 10px;
    color: #1c1c1c;
    font-weight: 300;
}

.icon-info-top a:hover {
    text-decoration: none;
}


.icon-info-top span {
    border: 1px solid #38889c;
    border-radius: 50%;
    padding: 5px;
    color: #38889c;
}


@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 30%;
        left: 1px;
        padding-bottom: 30px;
        top: 20px;
        text-align: inherit;
        text-shadow: none;
        left: 20%;
    }
}

.carousel-caption h2 {

    padding: 25px 0;
    color: #2f8398;
    font-family: Roboto Slab;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.carousel-caption p {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 20px;
    max-width: 600px;
}

.navbar-default {
    background: inherit;
    border: 0;
}

#loader-logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 25%;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #ffffff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2f8398;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f28130;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffc93c;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

.padding-footer > div {
    padding: 30px 10px;
    margin: auto 0;
}

.padding-footer h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;

    /* Text style for "Навигация по с" */
    width: 192px;
    height: 18px;
    color: white;
    font-family: Roboto Slab;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    background-color: #f68d44 !important;
}

.navbar-default .navbar-nav > li > a {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 3px;
}

.thumbnail {
    padding: 0px;
}

.thumbnail > img {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.news-list {
    margin: 40px 0px;
}

.news-list h4{
    color: #2f8398;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;
}


.blog-content{
    padding: 15px 10px;
}

.blog-container{
    padding: 20px 15px;
}

.blog h4{
    color: #2f8398;
    font-size: 16pt;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;
}


.news-list .caption {
    padding: 10px 30px;
}

.news-list .caption > p {
    padding-bottom: 20px;
}

.news-list .label-default {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 10px 20px;
    background: #0aa2b1;
}

.service {
    text-align: center;
}

.service a {
    color: #1c1c1c;
    text-decoration: none;
}

.service a:hover {
    color: #2f8398!important;
    text-decoration: underline;
}


.container-service{
    padding-bottom: 60px;
}


.container-service h1 {
    padding: 60px 0px;
}

.container-reviews .img-circle {
    padding: 10px;
    border: #e8e8e8 solid 1px;
}

.fa-quote-left, .fa-quote-right {
    color: #ccc;
}

.reviews-text {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

.container-reviews .date {
    color: #2f8398;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    padding-top: 10px;
}

.text-about {
    color: #1c1c1c;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    padding: 40px 0;
}

.h1-about {
    color: white;
    font-family: Roboto Slab;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: auto 0;
    padding: 80px 0 20px;
}

.h1-about span {
    background: #1a94a6;
    padding: 10px;
}

.btn-warning {
    background: #f28130;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.btn-primary {
    background: #0596a3;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.btn-primary:hover {
    background: #0aa2b1;
}


.thumbnail {
    border: 1px solid #f9f9f9;
}

.reviews-div {
    padding: 10px 20px;
}

.reviews-div.full-reviews img {
    max-height: 100px;
}


.reviews-list > .row {
    padding: 60px 0;
}

.array-top .glyphicon {
    font-size: 42px;
    padding: 5px;
    color: #026882;
    border: 2px solid #026882;
    border-radius: 50%;
}

.text-about li {
    background-repeat: no-repeat;
    list-style-position: outside;
    list-style-type: none;
    min-height: 60px;
    padding: 0px 0px 10px 64px;
}

.text-about li span, .text-about li i {
    list-style-position: outside;
    color: #0aa2b1;
    font-size: 30pt;
    font-weight: 600;
    vertical-align: middle;
    padding: 20px;
    display: block;
    float: left;
}

.li-icons-1 {
    background-image: url('/img/icons-1.png');
}

.li-icons-2 {
    background-image: url('/img/icons-2.png');
}

.li-icons-3 {
    background-image: url('/img/icons-3.png');
}

.li-icons-4 {
    background-image: url('/img/icons-4.png');
}

.li-icons-5 {
    background-image: url('/img/icons-5.png');
}

.li-icons-6 {
    background-image: url('/img/icons-6.png');
}

.scroll-top {
    cursor: pointer;
}

.menu-footer, .menu-footer-contact {
    padding: 0;
}

.menu-footer-contact li, .menu-footer li {
    list-style: none;
}

.menu-footer-contact span {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
}

.menu-footer-contact a {
    text-decoration: none !important;
}

.menu-footer-contact li {
    padding: 5px 0;
}

.login-a > a{
    color: white!important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px !important;
    background: url("/img/login-a.png") no-repeat 100%;
    padding: 7px !important;
    border-radius: 5px !important;
    margin: 3px !important;
}

.login-a .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: inherit !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: url("/img/login-a.png") no-repeat 100%;
}

.not-effec-open.open > a {
    background: none !important;
}

.not-effec-open > .dropdown-toggle {
    padding: 7px 0 !important;
}


.why-work {
    padding: 20px 0;
}

.why-work h1 span{
    background: url("/img/whywork.png") repeat-x;
    color: white;
    font-family: Roboto Slab;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding: 10px 20px;
    margin: 20px 0;
    vertical-align: middle;
    background-size: 100% 100%;
}


.why-work p{
    color: #1c1c1c;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.why-work img{
    width: 262px;
    height: 262px;
}


.why-work h2{
    margin-top: 5px;
    background: #f68d44;
    width: 262px;
    height: 262px;
    border-radius: 50%;
    padding: 85px 0;
}


.why-work h2 span {
    color: white;
    font-family: Roboto Slab;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

.why-work h1{
    padding-bottom: 40px;
}

.why-work .glyphicon{
    color: #ccc;
    font-size: 26pt;
}


.right-top-menu a{
    font-family: Roboto;
    font-weight: 400;
    line-height: 16px;
    color: #2f8398;
    margin: 5px 5px;
    padding: 5px 5px;
}

.right-top-menu .glyphicon{
    color: #b6b6b6;
}


.right-top-menu a.active{
    color: #ffffff;
    background: #f68d44;
    border-radius: 5px;
}



.carousel{
    height:100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-inner>.active{
    height:100%;
}


.share-post a:hover{
    text-decoration: none;
}

.share-post {
    border:1px solid #e5e5e5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:14px 22px;
    margin-bottom:30px;
}
.share-post label {
    color: #373737;
    font-size: 22px;
    line-height: 20px;
    margin: 0;
    padding: 10px 0 0;
}
.share-post ul.social-rounded {
    float:right;
}
.share-post ul li {
    margin-bottom:0;
}

.social-rounded {
    list-style:none;
    padding:0;
    margin:0;
}
.social-rounded li {
    float:left;
    margin:0 8px 7px 0;
}
.social-rounded li a i {
    display:block;
    width:36px;
    height:36px;
    border:2px solid #e7e7e7;
    text-align:center;
    border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    color:#929292;
    line-height:33px;
    font-size:18px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social-rounded li a i:hover {
    color:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none!important;
}
.social-rounded li a i.fa-facebook:hover {
    background:#2f4787;
    border:2px solid #223874;
}
.social-rounded li a i.fa-twitter:hover {
    background:#2ba8e0;
    border:2px solid #1c90c4;
}
.social-rounded li a i.fa-google-plus:hover {
    background:#d3482d;
    border:2px solid #b42f15;
}
.social-rounded li a i.fa-dribbble:hover {
    background:#da2984;
    border:2px solid #b71568;
}
.social-rounded li a i.fa-youtube:hover {
    background:#e92526;
    border:2px solid #cf1314;
}
.social-rounded li a i.fa-vimeo-square:hover {
    background:#03a9ee;
    border:2px solid #0c79a6;
}
.social-rounded li a i.fa-linkedin:hover {
    background:#016793;
    border:2px solid #00475c;
}
.social-rounded li a i.fa-rss:hover {
    background:#f47c23;
    border:2px solid #d26514;
}

.social-rounded li a i.fa-odnoklassniki:hover {
    background: #f47c23;
    border: 2px solid #d26514;
}

.social-rounded li a i.fa-vk:hover {
    background: #4b68b4;
    border: 2px solid #223874;
}


.odnoklassniki:hover {
    background: #f47c23;
}

.social-rounded li a i.fa-pinterest:hover {
    background:#ca1f28;
    border:2px solid #b71c23;
}
.social-rounded li a i.fa-android:hover {
    background:#a4ca39;
    border:2px solid #89ac28;
}
.social-rounded li a i.fa-flickr:hover {
    background:#fe0082;
    border:2px solid #d90472;
}

.blog-thumbnail img{
    width: 100%;
    padding: 10px 0;
}

.blog-meta{
    padding: 20px 0;
}

.blog a{
    color: #2f8398;
}

.map {
    width: 100%;
}

.map iframe {
    width: 100%;
}

.container-alert {
    width: 50%;
    margin: 0 auto;
}

/**
 load
**/

.main-container {
    min-height: calc(100% - 220px);
    padding: 30px 0;
}

.inner-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 2px rgba(180, 180, 180, .5);
    margin-bottom: 30px;
    padding: 20px 15px;
}

.collapse-box {
    margin-bottom: 15px;
}

.collapse-title {
    border-top: 1px solid #e6e6e6;
    color: #2a3744;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}

.user-panel-sidebar ul {
    padding: 0;
}

.user-panel-sidebar ul li {
    list-style: none;
}

.user-panel-sidebar ul li a.active {
    background-color: #2f8398;
    color: #FFFFFF;
}

.welcome-msg {
    margin-bottom: 30px;
}

.user-panel-sidebar ul li a {
    background: none repeat scroll 0 0 #ffffff;
    display: block;
    color: #2a3744;
    font-size: 12px;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 26px;
    padding: 5px 10px;
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.collapse-box .badge {
    background-color: #e3e3e3;
    color: #666;
    font-weight: normal;
}

.panel {
    border-radius: inherit;
    box-shadow: 0px;
}

.panel-group .panel {
    margin-bottom: inherit;
    border-radius: inherit;
}

.alert {
    margin-bottom: inherit;
    border-radius: inherit;
}

figure {
    margin: 0;
    padding: 0;
}


figure .img-icon {
    position: absolute;
    padding: 20px;
    z-index: 10;
    width: 40%;
}

.catalog-img-text {
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    position: absolute;
    bottom: -11px;
    padding: 24px 26px 10px 34px;
    width: 101%;
}

figcaption > a {
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

figcaption {
    /*overflow: hidden;*/
}

figcaption > a:hover {
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-decoration: underline;
}

figcaption > a:hover > .img-wrapper > .catalog-img-text {
    background: url("/img/catalog/background-icon.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -11px;
    padding: 24px 26px 10px 34px;
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

figure:hover > .figcaption {
    background: url("/img/catalog/background-icon.png") repeat-x 100%;
    position: absolute;
    bottom: -11px;
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

.img-wrapper {
    position: relative;
}

figure:hover .img-wrapper {
    background: black;
}

figure:hover .img-wrapper img {
    opacity: 0.7;
}

.img-responsive-sliderback {
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 5px #999;
    opacity: 0.85;
}

.carousel-indicators-catalog {
    background: url("/img/catalog/backbottom.png") !important;
}

.item-catalog > img {
    width: 100% !important;
    height: auto !important;
}

.item-catalog {
    height: auto !important;
}

.item-catalog h2 {
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 0;
    width: 90%;
}

.item-catalog > .carousel-caption {
    right: 5%;
    left: 5%;
}

.text-slider-bg {
    background: url("/img/catalog/textsliderbg.png") no-repeat 100%;
    color: #1c1c1c;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    padding: 20px 30px;
}

.carousel-caption-element {
    right: 25% !important;
    left: 25% !important;
    text-align: center;
}

.carousel-caption-element-bg {
    background: url("/img/catalog/element-slider-bg.png") no-repeat 100%;
    padding: 10px;
    text-align: center;
}

.carousel-caption-element img {
    width: auto !important;
    height: auto !important;
}

.carousel-caption-element h2 {
    color: #2f8398;
    font-family: Roboto Slab;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.carousel-caption-element p {
    color: #1c1c1c;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
    left: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

legend {
    font-weight: bold;
    color: #333;
}

img {
    max-width: 100%;
}

pre {
    width: 95%;
    height: 8em;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

/* layout.css Style */
#filedrag {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
#filedrag {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

#filedrag.drop {
    color: #222;
    border-color: #222;
}

.user-comment {
    padding: 10px 20px;
}

.auth-container {
    padding-top: 4%;
    padding-bottom: 5%;
}


.navbar-default .navbar-nav>li>a{
    padding: 7px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.m-top-10 {
    margin-top: 5%;
}

.btn-primary > a {
    color: #ffffff !important;
}

.btn-primary {
    border-color: #0aa2b1;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    border-color: #0aa2b1;
}

.brand-name {
    color: #2f8398;
}

.thumbnail {
    border: 3px solid #f9f9f9;
}

.backgound-grey {
    background-color: #f7f7f7;
}

.padding-container {
    padding: 30px 0;
}

.padding-small {
    padding: 5px;
}

.a-mack {
    color: #2f8398;
    font-family: Roboto;
    font-weight: 300;
    line-height: 16px;
    text-decoration: underline;
}

.padding-small-2 {
    padding: 15px;
}

.h1-slab {
    color: #1c1c1c;
    font-family: Roboto Slab;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.nav.navbar-nav.navbar-right {
    padding-top: 40px;
}
.navbar-header > .navbar-toggle {
    margin-top: 40px;
}
.icon-s-caption {
    height: auto !important;
    width: auto !important;
}

.carousel-caption h2 {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.block-img-catalog-z {
    margin-bottom: 50px;
}

.carousel-caption-element-bg h2 {
    padding: 10px;
}

.carousel-caption, .carousel-control {
    text-shadow: none;
}
.removeFile{
    cursor: pointer;
    color:#ff0000;
    float:right;
}

.well-danger {
    background: initial;
    border: 1px solid #f28130;
    border-radius: 15px;
}

.well-primary {
    background: initial;
    border: 1px solid #2f8398;
    border-radius: 15px;
}

.p-t-40 {
    padding-top: 40px;
}

.btn-info, .btn-info.active, .btn-info:active, .btn-info:hover, .open > .dropdown-toggle.btn-info {
    background-color: #2f8398 !important;
    border-color: #2f8398 !important;
}

.acc-list .badge {
    margin-top: 4px;
}

.pager {
    margin: 20px 0 0 0;
}
.dropdown #drop1{
    border: none;
    color:#fff;
    background: url("/img/login-a.png") 100% no-repeat;
    background-size: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 5px;
}

.p-no-m {
    margin: 0px;
}

.fancybox-thumb-img-text {
    display: block !important;
}

.fancybox-thumb-img-text:hover {
    cursor: pointer;
}

.navbar-brand2 {
    display: block;
}


.navbar-brand2 img {
    /*max-width: 400px;*/
    padding-right: 20%;
}

.small-menu-element-left {
    margin-right: 0 !important;
}

.active .pull-left.hidden-xs.hidden-sm.dropdown-toggle {
    background: none !important;
    color: #777 !important;
}

.catalog-sing-array {
    position: fixed;
    width: 100%;
    padding: 5%;
}

.last-next {
    font-size: 42px;
    padding: 5px;
    color: #f0ad4e;
    cursor: pointer;
}

.img-center {
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vcenter > h1 {
    margin: 0;
}

.but-menu-top {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 767px) {
    .pull-left.hidden-xs.hidden-sm .dropdown-toggle {
        float: none !important;
    }
}

@media (max-width: 767px) {
    .small-menu-element-left {
        float: none !important;
    }
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #2f8398;
    border-color: #2f8398;
}

.pagination > li > a, .pagination > li > span {
    color: #2f8398;
}

.icon-top {
    width: 30px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-t-15 {
    padding-top: 15px;
}

.search-container .block {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 33%;
}